.navigation {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    position: absolute;
    display: block;
    top: 0.5rem;
	left: 0;
	width: 100%;
    text-align: center;
}
        ol, ul {
            list-style: none;
        }
            .nav-menu > ul {
                display: inline-block;
                border-radius: 0.35em;
                box-shadow: inset 0px 0px 1px 1px rgba(46,153,214, 0.9);
                padding: 0 1.5em 0 1.5em;
            }
                .nav-menu > ul > li {
                    display: inline-block;
                    text-align: center;
                    padding: 0 1.5em 0 1.5em;
                }
                    .nav-menu > ul > li > ul {
                        display: none;
                    }
                        .nav-menu > ul > li > a, .nav-menu > ul > li > span {
                            display: block;
                            color: #eee;
                            color: rgba(46,153,214, 0.9);
                            text-transform: uppercase;
                            text-decoration: none;
                            font-size: 0.7em;
                            letter-spacing: 0.25em;
                            height: 5em;
                            line-height: 5em;
                            -moz-transition: all .25s ease-in-out;
                            -webkit-transition: all .25s ease-in-out;
                            -o-transition: all .25s ease-in-out;
                            -ms-transition: all .25s ease-in-out;
                            transition: all .25s ease-in-out;
                            outline: 0;
                        }
                            .nav-menu > ul > li:hover > a {
                                color: #2e99d6;
                                transform: scale(1.5);
                            }
                                .nav-menu > ul > li.active > a, .nav-menu > ul > li.active > span {
                                    color: #2e99d6;
                                }

                                /*Nav button does not display for wide screens*/
                                @media screen and (min-width: 1200px) {
                                    .nav-button-container {
                                        display: none;
                                    }
                                }                     
                                
@media screen and (max-width: 1200px) {
/*Set the nav menu when the screen size is smaller than 1200px*/
    .navigation {
        top: 0.1rem;
    }

    .nav-menu.expanded ul {
        display: flex;
        position: fixed;
        transform: translateX(0);
    }

    .nav-menu ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 275px;
        transform: translateX(-275px);
        background-color: #2e99d6;
        color: #eee;
        transition: all 0.5s ease;
        overflow-y: auto;
        top: 0;
        z-index: 10002;
        box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);   
    }

    .nav-menu > ul > li > a{
        color: #eee;
    }
    .nav-menu > ul > li:hover > a {
        color: #eee;
        transform: scale(1.5);
    }
        .nav-menu > ul > li.active > a, .nav-menu > ul > li.active > span {
            color: #eee;
        }

    /*Button icon for the small screen nav menu*/ 
    .nav-button-container {
        display: flex;
        position: absolute;
        right: 0.1rem;
    }
        .nav-icon {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 1em;
            border-radius: 0.35rem;
            /*box-shadow: inset 0px 0px 1px 1px rgba(46,153,214, 0.9);*/
            background-color: rgba(46,153,214, 0);
            
        }
        .nav-icon:hover {
            color: #2e99d6;
            background-color: rgba(46,153,214, 0);
            transform: scale(1.1);
        }
        #nav-menu {
            transform: translateX(0);
        }
        #nav-expanded #page-wrapper {
            /*transform: translateX(275px);*/
            transition: all 1s ease;
        }
        #nav-expanded .nav-button-container {
            transform: translateX(0);
        }
}